<div class="container-fluid">
  <div class="col-md-6" style="float: none; margin: 0 auto;">
    <h3 class="sepH_c text-center">
      Password
    </h3>


    <form name="vm.frm" ng-submit="vm.changePassword(vm.frm)" novalidate="" class="form-horizontal" ng-if="!vm.changeSuccessed">

      <!-- old password -->
      <div class="form-group" ng-class="{'has-success':vm.frm.oldpassword.$valid && vm.frm.oldpassword.$dirty, 'has-error': !vm.frm.oldpassword.$valid && vm.frm.oldpassword.$dirty}">
        <label class="col-sm-3 control-label">Old Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Old Password" ng-model="vm.user.oldpassword"
                 ng-minlength="6" ng-pattern="$root.appConstant.regs.password"
                 name="oldpassword" required>
          <div ng-class="{'has-success':vm.frm.oldpassword.$valid && vm.frm.oldpassword.$dirty, 'has-error': !vm.frm.oldpassword.$valid && vm.frm.oldpassword.$dirty}" class="minH_A">
  <span class="help-block" ng-show="vm.frm.oldpassword.$dirty && vm.frm.oldpassword.$error.required">
  Please enter old password
</span>

          </div>
        </div>
      </div>


      <!-- password -->
      <div class="form-group" ng-class="{'has-success':vm.frm.newpassword.$valid && vm.frm.newpassword.$dirty, 'has-error': !vm.frm.newpassword.$valid && vm.frm.newpassword.$dirty}">
        <label class="col-sm-3 control-label">New Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="New Password" ng-model="vm.user.newpassword"
                 ng-minlength="6" ng-pattern="$root.appConstant.regs.password"
                 name="newpassword" required>
          <div ng-class="{'has-success':vm.frm.newpassword.$valid && vm.frm.newpassword.$dirty, 'has-error': !vm.frm.newpassword.$valid && vm.frm.newpassword.$dirty}" class="minH_A">
  <span class="help-block" ng-show="vm.frm.newpassword.$dirty && vm.frm.newpassword.$error.required">
  Please enter new password
</span>
            <span class="help-block" ng-show="vm.frm.newpassword.$dirty && (vm.frm.newpassword.$error.minlength || vm.frm.newPassword.$error.pattern)">
  Password must be at least 6 characters and contain at least 1 special character, 1 digit number
</span>
          </div>
        </div>
      </div>

      <!-- confirm password -->
      <div class="form-group" ng-class="{'has-success':vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty, 'has-error': !vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty}">
        <label class="col-sm-3 control-label">Confirm Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Confirm Password" ng-model="vm.user.confirmPassword" ng-match="vm.user.newpassword" name="confirmPassword" />
          <div ng-class="{'has-success':vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty, 'has-error': !vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty}" class="minH_A">
  <span class="help-block" ng-show="vm.frm.confirmPassword.$dirty && vm.frm.confirmPassword.$error.ngMatch">
  Confirm password is not match new password
</span>
          </div>
        </div>
      </div>

      <!-- button accept -->
      <div class="form-group sepH_c">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-primary" ng-disabled="vm.frm.$invalid || vm.frm.$submitted || vm.frm.$pending">
            Change password
          </button>
        </div>
      </div>


    </form>

    <div class="text-center">
      <h4 class="text-success" ng-if="vm.changeSuccessed">Your password has been updated successful, you can sign in with new password now.</h4>

    </div>
  </div>

</div>
