
.profile {
    .user-avatar{
        width: 136px;
        height: 136px;
    }
    .user-profile-name {
    	position: absolute;
    	top: 25%;
    	margin: 0 0 0 150px;
    }

    .permission-space{
        margin-top: 5px;
    }
}
