<div class="login_container">

  <h3 class="sepH_c text-center">
  <img src="assets/images/logo-main.png">
  </h3>


  <form name="vm.frm" ng-submit="vm.resetPassword(vm.frm)" novalidate="" class="form-horizontal" ng-if="!vm.resetSuccessed">
  <!-- password -->
  <div class="form-group" ng-class="{'has-success':vm.frm.password.$valid && vm.frm.password.$dirty, 'has-error': !vm.frm.password.$valid && vm.frm.password.$dirty}">
  <label class="col-sm-3 control-label">Password</label>
  <div class="col-sm-9">
  <input type="password" class="form-control" placeholder="Password" ng-model="vm.user.password"
ng-minlength="6" ng-pattern="$root.appConstant.regs.password"
name="password" required>
<div ng-class="{'has-success':vm.frm.password.$valid && vm.frm.password.$dirty, 'has-error': !vm.frm.password.$valid && vm.frm.password.$dirty}" class="minH_A">
  <span class="help-block" ng-show="vm.frm.password.$dirty && vm.frm.password.$error.required">
  Please enter a password
</span>
<span class="help-block" ng-show="vm.frm.password.$dirty && (vm.frm.password.$error.minlength || vm.frm.newPassword.$error.pattern)">
  Password must be at least 6 characters long and not allow spaces
</span>
</div>
</div>
</div>

<!-- confirm password -->
<div class="form-group" ng-class="{'has-success':vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty, 'has-error': !vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty}">
  <label class="col-sm-3 control-label">Confirm Password</label>
<div class="col-sm-9">
  <input type="password" class="form-control" placeholder="Confirm Password" ng-model="vm.user.confirmPassword" ng-match="vm.user.password" name="confirmPassword" />
  <div ng-class="{'has-success':vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty, 'has-error': !vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty}" class="minH_A">
  <span class="help-block" ng-show="vm.frm.confirmPassword.$dirty && vm.frm.confirmPassword.$error.ngMatch">
  Confirm password is not match password
</span>
</div>
</div>
</div>

<!-- button accept -->
<div class="form-group sepH_c">
  <div class="col-sm-9 col-sm-offset-3">
  <button type="submit" class="btn btn-primary" ng-disabled="vm.frm.$invalid || vm.frm.$submitted || vm.frm.$pending">
  Reset
  </button>
  </div>
  </div>

  <!-- link to login -->
<div class="footer">
  <a ui-sref="page.signin">Back to login</a>
</div>

</form>

<div class="text-center">
  <h4 class="text-success" ng-if="vm.resetSuccessed">Your password has been updated successful, you can sign in with new password now.</h4>

</div>
  <div class="footer" ng-if="vm.resetSuccessed">
    <a ui-sref="page.signin">Back to login</a>
  </div>
</div>
