<div class="login_container">
  <h3 class="sepH_c text-center">
    <img src="/assets/images/logo-main.png"/>
  </h3>

  <form ng-if="!vm.forgetPasswordSuccess" name="vm.frm" ng-submit="vm.forgotPassword(vm.frm)" novalidate="" class="form-horizontal">
    <h2 class="heading_a">Forgot your password?</h2>
    <div class="form-group" ng-class="{'has-success':vm.frm.email.$valid && vm.frm.email.$dirty,
                                      'has-error': !vm.frm.email.$valid && vm.frm.email.$dirty}">
      <label class="col-sm-3 control-label">Email</label>

      <div class="col-sm-9">
        <input auto-focus type="text" class="form-control" placeholder="Email" ng-model="vm.email"
               required
               autocomplete="off"
               name="email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"/>
        <span class="help-block" ng-show="vm.frm.email.$dirty && vm.frm.email.$error.required">
            Please enter email
         </span>
        <span class="help-block" ng-show="vm.frm.email.$dirty && vm.frm.email.$error.pattern">
              Email incorrect
          </span>
        <div class="text-muted m-t-xs">
          Enter your email address above and we'll send you an email with instructions on how to reset your password.
        </div>
      </div>
    </div>
    <div class="form-group sepH_c">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-primary"
                ng-disabled="vm.frm.$invalid || vm.frm.$submitted">
          Submit
        </button>
      </div>
    </div>
    <div class="footer">
      <a ui-sref="page.signin">Back to login</a>
    </div>
  </form>

  <div ng-if="vm.forgetPasswordSuccess" class="text-center">
    <h4 class="text-success">You'll receive an email with instructions about how to reset your password shortly. Be sure to check your spam folder if you don't see it.</h4>
    <h4>
      <a ui-sref="page.signin" class="small">Back to login</a>
    </h4>
  </div>
</div>
