<b>{{radial.direct.cellInfo.CellName}}</b>
<br />
<!-- <div>Azimuth: {{radial.direct.Azimuth}}</div>
<div>Height: {{radial.direct.cellInfo.Height}}</div>
<div>Tech: {{radial.direct.cellInfo.Technology}}</div>
<div>Antenna: {{radial.direct.cellInfo.Antenna}}</div>
<div>MDT: {{radial.direct.cellInfo.MDT}}</div>
<div>RNC: {{radial.direct.cellInfo.RNC}}</div>
<div>LAC: {{radial.direct.cellInfo.LAC}}</div>
<div>CI: {{radial.direct.cellInfo.CI}}</div>
<div>DLARFCN: {{radial.direct.cellInfo.DLARFCN}}</div>
<div>SAC: {{radial.direct.cellInfo.SAC}}</div> -->

<div class="popup-container">
    <table class="table">
        <tbody>
            <tr>
                <td class="info" width="50%">Azimuth</td>
                <td ng-bind="radial.direct.Azimuth"></td>
            </tr>
            <tr>
                <td class="info" width="50%">Height</td>
                <td ng-bind="radial.direct.cellInfo.Height"></td>
            </tr>
            <tr>
                <td class="info" width="50%">Tech</td>
                <td ng-bind="radial.direct.cellInfo.Technology"></td>
            </tr>
            <tr>
                <td class="info" width="50%">Antenna</td>
                <td ng-bind="radial.direct.cellInfo.Antenna"></td>
            </tr>
            <tr>
                <td class="info" width="50%">MDT</td>
                <td ng-bind="radial.direct.cellInfo.MDT"></td>
            </tr>
            <tr>
                <td class="info" width="50%">RNC</td>
                <td ng-bind="radial.direct.cellInfo.RNC"></td>
            </tr>
            <tr>
                <td class="info" width="50%">LAC</td>
                <td ng-bind="radial.direct.cellInfo.LAC"></td>
            </tr>
            <tr>
                <td class="info" width="50%">CI</td>
                <td ng-bind="radial.direct.cellInfo.CI"></td>
            </tr>
            <tr>
                <td class="info" width="50%">DLARFCN</td>
                <td ng-bind="radial.direct.cellInfo.DLARFCN"></td>
            </tr>
            <tr>
                <td class="info" width="50%">SAC</td>
                <td ng-bind="radial.direct.cellInfo.SAC"></td>
            </tr>
        </tbody>
    </table>
</div>